<section class="container-fluid h-100">
  <div class="container py-4 d-flex flex-column loginContainer mt-20vh">
    <%= form_with scope: :user, url: login_path, class: 'd-none' do |f| %>
    <h1 class="">Log In</h1>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, html: {autocomplete: "username"} %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, html: {autocomplete: "current-password"} %>
      </div>
      <div>
        <%= f.submit "Log In" %>
      </div>
    <% end %>
  <%= form_with scope: :sports_centre, url: login_path, local: true, class: "align-self-center w-100" do |f| %>
    <h3 class="mb-3 text-center">Admin Login</h3>
      <div class="mb-2">
        <i class='far fa-envelope inline-block pr-1'></i>
        <%= f.label :email, "Company Email", class: "mx-0 my-1 inline-block" %>
        <%= f.text_field :email, html: {autocomplete: "username"}, class: "row mx-0 white-box w-100" %>
      </div>
      <div class="mb-3">
        <i class="fas fa-key inline-block pr-1"></i>
        <%= f.label :password, class: "mx-0 my-1 inline-block" %>
        <%= f.password_field :password, html: {autocomplete: "current-password"}, class: "row mx-0 white-box w-100" %>
      </div>
      <div class="d-flex justify-content-end row mx-0">
        <%= f.submit "Log In", class: "col-12 btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
