<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-8">
      <%= image_tag((url_for asset_path("weballText.png")), class: "mx-auto d-block image-contain logo-height") %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <h2 class="text-center">Thank you for partnering with WeBall.</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-3">
      <%= image_tag("email-sent-icon.png", class: "mx-auto d-block img-fluid") %>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <h4 class="text-center">A payment invoice will be sent to <span class="text-primary"><%= @sportsCentre.email %></span> shortly.</<h4>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <h4 class="text-center"><%= link_to "Return to your admin dashboard.", admin_sports_centre_path(@sportsCentre), class: "btn btn-lg btn-primary text-white" %></<h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-right"><small class="text-muted">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
  </div>
</div>
