<%= form_for sports_centre do |form| %>
  <div class="field">
   <%= form.label 'Adress' %>
   <%= form.text_field :address, placeholder: "Enter your adress", id: 'autocomplete' %>
  </div>

 <%= form.submit %>
 <% end %>
