<section class="container-fluid min-height bg-home-image-1">
    <div class="container fit-content padding-top">
      <div class="row">
        <div class="col">
          <div class="h1 home-text">Book a court online</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid">
  <div class="container top-section-margin">
      <form class="form-inline row full-width align-items-center">
          <label for="name" class="col-auto pr-0"><h2 class="font-weight-bold my-auto">Popular in</h2></label>
          <div id="popularInputHolder" class="form-group full-width col-md-5">
              <input id="popularInput" type="text" placeholder="Hurstville" class="form-control full-width form-control-underlined">
          </div>
      </form>
      <div class="row mb-4">
        <div class="col">
          <ul class="nav menu nav-tabs" id="myTab" role="tablist">
           <li class="nav-item">
             <a class="nav-link active px-0 mr-3" href="#All" data-toggle="tab" role="tab" aria-controls="All" aria-selected="true" >All</a>
           </li>
           <li class="nav-item">
             <a class="nav-link px-0 mx-3" href="#for-you" data-toggle="tab" role="tab" aria-controls="For_you" aria-selected="false">For you</a>
           </li>
           <li class="nav-item">
             <a class="nav-link px-0 mx-3" href="#weekend" data-toggle="tab" role="tab" aria-controls="This_weekend" aria-selected="false">This weekend</a>
           </li>
           <li class="nav-item">
             <a class="nav-link px-0 mx-3" href="#Competitions" data-toggle="tab" role="tab" aria-controls="Competitions" aria-selected="false">Competitions</a>
           </li>
           <li class="nav-item">
             <a class="nav-link px-0 mx-3" href="#Training" data-toggle="tab" role="tab" aria-controls="Training" aria-selected="false">Training</a>
           </li>
           <li class="nav-item">
             <a class="nav-link px-0 mx-3" href="#offers" data-toggle="tab" role="tab" aria-controls="Special_offers" aria-selected="false">Special offers</a>
           </li>
          </ul>
          <!-- Tab panes -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="tab-content">
              <div class="tab-pane active" id="All" role="tabpanel" aria-labelledby="home-tab">Hello</div>
              <div class="tab-pane" id="for-you" role="tabpanel" aria-labelledby="profile-tab">for-you</div>
              <div class="tab-pane" id="weekend" role="tabpanel" aria-labelledby="messages-tab">weekend</div>
              <div class="tab-pane" id="Competitions" role="tabpanel" aria-labelledby="settings-tab">competitions</div>
          </div>
        </div>
      </div>
  </div>
</section>
