// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-darkBlue {
  background-color: darkSlategray;
}

.bg-black {
  background-color: black;
}

.w-1point5 {
  width: 1.5rem;
}

.h-70vh {
  height: 70vh;
}

.dashBoardHeight {
  height: 68vh;
}

.h-88vh {
  height: 88vh;
}

.h-fillAvailable {
  height: -webkit-fill-available;
}

.mt-20vh {
  margin-top: 20vh;
}

#buttonHolder {
  //margin-top: -1rem;
  border-top: 2px solid white;
}

#ViewAndBookBody {
  display: flex;
  flex-direction: column;
}

.loginContainer {
  border: 3px solid black;
  border-radius: 1rem;
  width: 20rem !important;
}

.hover-black:hover {
  background-color: black;
}

.image-contain {
  object-fit: contain;
}

.timeHolder {
  color: #003153;
}

.deleteActivity {
  margin-left: 40%;
  top: -5px;
  font-size: x-large;
}

.top-15rem {
  top: 15rem;
}

.xx-large {
  font-size: xx-large;
}

.rounded-edges {
  border-radius: 2rem;
}

.h-2rem {
  height: 2rem;
}

.w-20rem {
  width: 20rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.neg-margin-x {
  margin-right: -1rem;
  margin-left: -1rem;
}

.h-0rem {
  height: 0rem;
}

.alt-flex {
  display: flex;
  flex-direction: column;
}

.slateGrey {
  color: slateGrey;
}

#polipayGrid #polipayLogo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -0.75rem;
    img {
      max-height: 5rem;
    }
}

#paymentRecordHolder {
    height: 46.6vh;
}

#lastPayDateHolder {
    display: inline;
}

#polipayGrid #totalOwed_label {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#polipayGrid #totalOwed_price {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#polipayGrid #payTransactionFees {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#polipayGrid #poliInfo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#polipayGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
}

.max-h {
  max-height: min-content;
}

#col-9-admin .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upgradePlanBody .buttonBorder {
  border: 2px solid darkBlue;
  border-top: none;
}

#upgradePlanBody .leftRightBorder {
  border: 2px solid darkBlue;
  border-top: none;
  border-bottom: none;
}

#activityCardHolder .selectedCard {
  border-color: black !important;
}

#dashBoardTable .border-darkBlue {
  border: 1px solid darkBlue !important;
}

#dashBoardTable tbody::-webkit-scrollbar {
  display: none;
}

#dashBoardTable td.booked {
  max-height: 2rem;
  border: none;
}

#ViewAndBookBody .max-8rem {
  max-width: 8rem;
}

#dashBoardTable .nb-intervalButton {
  background-color: white;
  color: black;
  border: 1px solid gainsboro;
}

#dashBoardTable .nb-intervalButton:hover {
  background-color: midnightBlue;
  color: white;
}

#dashBoardTable .repeatDetail {
  position: relative;
  margin-top: -64%;
  left: 105%;
  transition: all 1s;
  width: inherit;
}

#dashBoardTable .booked div:first-child {
  word-break: break-all;
}

#dashBoardTable td.border-xy {

}

#dashBoardTable {
  width: 100%;
  border: 1px solid rgb(222, 226, 230);

  th, td {
    vertical-align: top;
    border-top: 1px solid rgb(222, 226, 230);
    border-left: 1px solid rgb(222, 226, 230);
  }

  th {
    border-right: 1px solid rgb(222, 226, 230);
  }

  thead th {
    vertical-align: bottom;
  }
}

.td-flex {
  flex: 1 0 1rem;
}

.tableBasketball {
  background-color: #ffce80;
}

.tableBadminton {
  background-color: #99ccff;
}

.tableVolleyball {
  background-color: #bfff80;
}

.bg-azure {
  background-color: azure;
}

.selectPlan-paddingTop {
  padding-top: 8.5rem;
}

.half-opaque {
  opacity: 0.5;
}

.color-orange {
  color: #e96b1e;
}

.max-plan {
  max-width: 13rem !important;
}

#upgradePlanBody .max-plan h5, #upgradePlanBody .flex-grow-1 p {
  margin-bottom: 0rem;
}

.bronze {
  color: #cd7f32;
}

.background-bronze {
  background-color: #cd7f32 !important;
  border: #cd7f32 !important;
}

.bookingRate {
  //border-width: 0px 1px;
  border-color: gainsboro !important;
  border-style: solid;
  font-size: large;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
}


div.position-relative.triangle-up {
  border-bottom: 20px solid black;
  border-top: none;
}

#NotificationModal {
    width: 20rem;
    height: 8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}
