

#BookingWidget {
    background-color: blue;
}

#BookingWidget #clockHolderCard {
    background-color: white;
}

#helloSeoul {
    background-color: red;
}

#wrapper {
  padding:5%;
  margin:0 auto;
}

/* CSS Simple Pre Code */
pre {
    background: #333 !important;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    pointer-events: none;
}

pre.code {
    margin: 20px 25px;
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
}

pre.code label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ddd;
    position: absolute;
    left: 1px;
    top: 15px;
    text-align: center;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

pre.code code {
    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #555;
    font-size: 13px;
    line-height: 19px;
    color: #ddd;
}

.tooltipTarget {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipTarget .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.color-gainsboro {
  color: gainsboro;
}

.d-content {
  display: contents;
}

.h-contentFit {
  height: fit-content;
}

.codeInput {
  border: none;
  background-color: #333;
}

#recordArrowControls .fas:hover {
    background-color: gainsboro;
}
