// home#index page

.btn.second-button {
  //color: royalBlue !important;
  background-color: white;
}

.orange-theme-color {
  background-color: #e96b1e !important;
}

.orange-theme-border {
  border-color: #e96b1e !important;
}

.bg-aliceBlue {
  background-color: #ebf5f7;
}

.bg-weball {
  background-color: #FF5E0D;
}

.border-left-orange {
  border-left: 4px solid #ff5e0d;
  padding-left: 0.5rem;
}

.border-orange {
  border: 2px solid #ff5e0d;
}

.btn.second-button:hover {
  background-color: azure !important;
  border-color: royalBlue !important;
}

.ideal-line-height {
  line-height: 140% !important;
}

.text-muted-opaque {
  color: #6c757d;
  opacity: 0.5;
}

.min-height {
  height: 25rem;
}

.max-text-logo {
  max-width: 8rem;
  height: auto;
}

.max-logo {
  max-width: 12rem;
  height: auto;
}

.fit-content {
  height: auto;
}

.padding-top {
  padding-top: 6rem;
}

.top-section-margin {
  margin-top: 2rem;
}
// search-bar

.form-control:focus {
  box-shadow: none;
}

.text-underline {
  text-decoration: underline !important;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

#popularInput, #popularInput::placeholder {
  font-size: 2rem;
  margin: .75rem 0;
  color: #3d64ff;
  font-weight: 700;
}

#popularInput:focus::placeholder {
  color: #aaa;
}

.full-width {
  width: 100%;
}

// menu bar of home

.menu > .nav-item > a {
  color: #6f7287;
  border: 0px;
}

.menu > .nav-item > a:hover {
  color: #39364f; // dark blue
  border-bottom: 2px solid #39364f;
}

.menu > .nav-item > a.active:hover {
  color: #3d64ff;
  border-bottom: 2px solid #3d64ff;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #3d64ff;
  border-bottom: 2px solid #3d64ff;
}

.tab-content {

}

li.btn-custom {
  border: 1px solid #867b89;
  border-radius: 4px;
}

li.btn-custom {
  color: rgba(0, 0, 0, 0.5);
}

li.btn-custom:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
}

.hoverBlack {
  all: unset;
}

.dropdown-item{
  width: max-content;
  white-space: normal;
}

.dropdown-margin-top {
  margin-top: 2.5rem;
}

label.min-label {
  text-align: right;
}

#registerCentre fieldset.card {
  .card-header {
    border-bottom: 0px;
    padding-left: 0.85rem;
    padding-right: 1rem;
  }

  .card-footer {
    border-top: 0px;
    padding-left: 0.5rem;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
  }
}

#courtSelection {
  border: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  button {
    height: fit-content;
  }
}

#registerProgressBar {
  height: 1rem;
}

.quickNav {
  width: 30%;
  display: flex;
  flex-direction: column;
  img {
    object-fit: contain;
    width: 7rem;
    height: 7rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// home general buttons
.cta-button {
  background-color: #4BB543 !important;
  color: white !important;
  border-radius: 1rem !important;
}

.cta-button:hover {
  background-color: forestgreen !important;
  color: white !important;
}

.generalButton {
  background-color: royalBlue !important;
  color: white !important;
  font-weight: bold !important;
}

.generalButton:hover {
  background-color: mediumBlue !important;
}

@media only screen and (max-width: 1200px) {
  // for the upgrade fees benefits listed
  #upgradePlanBody .benefits-text div {
    display: none;
  }

  #upgradePlanBody .benefits-row {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  // for the upgrade fees benefits listed
  #upgradePlanBody .benefits-text div {
    display: block;
    font-size: large;
  }

  #upgradePlanBody .benefits-row {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .bg-home-image-1 {
    background-color: #ebf5f7;
    background-size: 100% 25rem;
  }

  .px-5percent {
    padding: 0 5%;
  }

  .dashBoardTabsGrid {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .tab > img, .tab > div.row {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    .tab > .color-weball-orange {
      color: #ff5e0d !important;
    }

    .tab > img {
      height: 45vh;
      object-fit: contain;
      border: 2px solid #ff5e0d;
    }

    .bookings {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    .prices {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    .hours {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    .logo {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }

  .infoPageGrid1 {
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 0.618fr 1fr;
    grid-template-rows: 0.618fr auto 1fr;

    .homePageText {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      font-family: Helvetica, Arial, sans-serif;
    }

    .homePagePhoto1 {
      grid-row: 2 / 4;
      grid-column: 3 / 4;
      max-height: 100%;
      width: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: 3rem;
    }

    .homePagePhoto2 {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
      max-height: 100%;
      width: auto;
      margin-left: auto;
      padding-bottom: 3rem;
      padding-right: 1rem;
      padding-top: 0.75rem;
    }

    .homePageButton {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      button {
        height: fit-content;
      }
    }
  }

  .homePageGrid {
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 0.618fr 1fr;
    grid-template-rows: 0.618fr 1fr 1fr;

    .homePageText {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      font-family: Helvetica, Arial, sans-serif;
    }

    .homePagePhoto1 {
      grid-row: 1 / 4;
      grid-column: 2 / 4;
      max-height: 100%;
      width: auto;
      margin-left: auto;
    }

    .homePagePhoto2 {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
      max-height: 100%;
      width: auto;
      margin-left: auto;
    }

    .homePageButton {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      button {
        height: fit-content;
      }
    }
  }

  #home-reverseRow {
    flex-direction: row-reverse !important;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  #home-compareFeesRow {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #upgradePlanBody .benefits-text div {
    display: none;
  }

  .px-5percent {
    padding: 0;
  }

  #upgradePlanBody .benefits-row {
    font-size: 1rem;
  }

  .home-learnMore {
    margin-top: auto;
  }

  .bg-home-image-1 {
    background-image: none;
    background-color: #ebf5f7;
    //background-size: 100% auto;
  }

  input.white-box {
    margin-left: 0rem;
  }

  #registerCentre fieldset.card {
    div.invalid-feedback.row span.offset-md-4 {
        padding-left: 0px;
    }
    .card-body label.min-label {
      text-align: left;
      margin-bottom: 0.5rem;
    }
  }

  #courtSelection {
    padding-right: 0rem;
    margin-left: -0.5rem;
  }
}
