
#payment-confirmation div {
  margin: 0px;
  padding: 0px;
}
#payment-confirmation .modalClose {
  font-size: 1.6rem;
}
#payment-confirmation #modal-dialog {
  max-width: 500px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
#payment-confirmation .bw-padding1 {
  padding: 1rem;
}
#payment-confirmation .range-divider {
  display: flex;
}
#payment-confirmation .range-divider .downCaret {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
}
#payment-confirmation .bw-marginTop1 {
  margin-top: 1rem;
}
#payment-confirmation .bw-paddingBottom1 {
  padding-bottom: 1rem;
}
#payment-confirmation .bw-marginBR1 {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
#payment-confirmation .bw-none {
  display: none !important;
}
#payment-confirmation #firstModalCard #bw-poliLinks {
  float: right;
  margin-right: 1rem;
}

#payment-confirmation #firstModalCard #bw-poliLinks #bw-banks {
  margin-left: 1rem;
}

#payment-confirmation .bw-whitesmoke {
  background-color: whitesmoke;
}
#payment-confirmation .bw-footer {
  display: flex;
  justify-content: flex-end;
  border: none;
}
#payment-confirmation .bw-footer .bw-button {
  margin-right: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
#payment-confirmation .bw-footer .bw-blue {
  color: white;
  background-color: royalblue;
}
#payment-confirmation .bw-footer .bw-white {
  color: black;
  background-color: whitesmoke;
}
#payment-confirmation .bw-pl1 {
  padding-left: 1rem;
}
#payment-confirmation .bw-pr1 {
  padding-right: 1rem;
}
#payment-confirmation .bw-margin0 {
  margin: 0;
}

#payment-confirmation .prices-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

#payment-confirmation .paymentGrid {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 1rem;
}
#payment-confirmation .paymentGrid div {
  margin: 0;
}
#payment-confirmation .paymentGrid .booking-time {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
#payment-confirmation .paymentGrid .booking-order {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
#payment-confirmation .paymentGrid .booking-location {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#payment-confirmation .paymentGrid .bw-emailLine {
  flex: 0 1 70%;
  padding-left: 1rem;
  border: none;
}
#payment-confirmation .paymentGrid .bw-flex {
  display: flex;
  justify-content: space-between;
}
#payment-confirmation .paymentGrid .paddingHover {
  padding: 0.5rem 1rem;
  margin: 0 -1rem;
}
#payment-confirmation .paymentGrid .paddingHover:hover {
  background-color: whitesmoke;
}
#payment-confirmation .paymentGrid .bw-emailInput {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 0 1rem;
  margin-top: 1rem;
}
#payment-confirmation .paymentGrid .bw-subtotal {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 1rem;
}
#payment-confirmation .paymentGrid .bw-discount {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#payment-confirmation .paymentGrid .bw-orderTotal {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#payment-confirmation .paymentGrid .startCalendarDate, #payment-confirmation .paymentGrid .endCalendarDate {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
#payment-confirmation .paymentGrid .startCalendarDate .dayHolder, #payment-confirmation .paymentGrid .startCalendarDate .monthHolder, #payment-confirmation .paymentGrid .endCalendarDate .dayHolder, #payment-confirmation .paymentGrid .endCalendarDate .monthHolder {
  margin: 0.5rem 0;
}
#payment-confirmation .paymentGrid .itemRow {
  display: flex;
  justify-content: space-between;
}
#payment-confirmation .paymentGrid .itemRow .bw-item {
  margin: 0;
  font-weight: 800;
}
#payment-confirmation .paymentGrid .itemRow .bw-price {
  margin: 0;
}
#payment-confirmation .paymentGrid .itemRow .bw-align {
  display: flex;
  align-items: center;
}
#payment-confirmation .paymentGrid .modalHR {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0px;
}
#payment-confirmation .paymentGrid .reviewSingleBooking, #payment-confirmation .paymentGrid .reviewAllBookings {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: space-between;
}
#payment-confirmation .paymentGrid #locationRow {
  display: flex;
  justify-content: flex-start;
}

#payment-confirmation #firstModalCard {
  background-color: white;
}

#payment-confirmation #firstModalCard .modal-footer img {
    height: 2.5rem;
    margin-left: 1rem;
}

#payment-confirmation #firstModalCard .modal-footer i{
    align-self: center;
    margin-right: auto;
    margin-left: 1rem;
}

#payment-confirmation #firstModalCard .modal-footer.bw-paddingMargin {
    margin-left: 1rem;
    padding-bottom: 1rem;
}

#payment-confirmation #secondModalCard {
  margin-left: calc(100% + 2px);
  transition: all 1s;
  z-index: 99;
  margin-top: -50vh;
  background-color: white;
  width: 100%;
  position: relative;
}

#payment-confirmation #secondModalCard #bw-secondModalBody {
    overflow-x: hidden;
    overflow-y: scroll;
}

#payment-confirmation #secondModalCard #allDatesModal {
  box-shadow: none;
  height: fit-content;
}
#payment-confirmation #secondModalCard .bw-borderBottom {
  border-bottom: 1px solid whitesmoke;
}
#payment-confirmation #secondModalCard .bw-justFlex {
  display: flex;
  justify-content: flex-start;
}
#payment-confirmation #secondModalCard .bw-alignCenter {
  align-items: center;
}
#payment-confirmation #secondModalCard .bw-time {
  flex: 1 0 25%;
}
#payment-confirmation #secondModalCard .bw-rate {
  flex: 1 0 41%;
  text-transform: capitalize;
  padding-left: 0.5rem;
}
#payment-confirmation #secondModalCard .bw-hours {
  flex: 1 0 17%;
}
#payment-confirmation #secondModalCard .bw-hours.bw-text-center {
  text-align: center;
}
#payment-confirmation #secondModalCard .bw-cost {
  flex: 1 0 25%;
  margin-left: auto;
}
#payment-confirmation #secondModalCard .bw-negRem {
  margin-left: -1rem;
  margin-right: -1rem;
}
#payment-confirmation #secondModalCard .bw-padding-vert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#payment-confirmation #secondModalCard .bw-padding-horizontal {
  padding: 0px 1rem;
}
#payment-confirmation #secondModalCard .bw-largeFont {
  font-size: large;
}
#payment-confirmation #secondModalCard .bw-marginNone {
  margin: 0 !important;
}
#payment-confirmation #secondModalCard .bw-textCenter {
  text-align: center;
}
#payment-confirmation #secondModalCard .bw-footer {
  display: flex;
  justify-content: flex-end;
  border: none;
}

#payment-confirmation #activityType {
  text-transform: capitalize;
}
