// Place all the styles related to the SportsCentres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

.card-columns {
  column-count: 1 !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

.special_flexbox {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   .actions {
      text-align: center;
      margin-top: 20px;
   }
}

fieldset.card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0;
  display: none;
}

fieldset#first-card {
  display: block;
}
/*
.table {
  //width: 20rem;
}

.moreEqualTH {
  //width: 16%;
}

.equalTH {
  //width: 12%;
}
*/
.parentWidth {
  width: 100%;
}

tr > th {
  padding: 0rem;
}

// remove tick and cross icons
/*
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none;
  padding-right: 0;
}

.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none;
  padding-right: 0;
} */

// class for nest cols (within another col and row)
.nested .row {
  margin-left: 0;
  margin-right: 0;
}

.nested .row label {
  padding-left: 5px;
  padding-right: 5px;
}

.nested div:first-child {
  padding-left: 0;
}

.nested div:last-child {
  padding-right: 0;
}

.custom-file {
  display: block;
  width: inherit;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.light-blue {
  color: cornflowerblue;
}

.dropdown-menu {
  width: 20rem;
}

@media only screen and (min-width: 768px) {
  .dropdown-menu.container {
    width: 35rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dropdown-menu.container {
    width: 80vw;
  }
}

.resize {
  width: 100%;
  height: 100%;
}

// calender
.datepicker {
  width: 280px;
  height: 280px;
}

.table-condensed {
  width: 270px;
  height:270px;
}

// map
#mapid { height: 90vh; }

.align-center {
  text-align: center;
}

// css format of card input fields

input.white-box {
  background-color: white;
  //border-radius: 5px;
  box-shadow: inset 2px 2px darkSlategray;
  padding: 0.5rem;
  margin-left: 1rem;
  //padding: 12px 20px 13px;
}

.card-body {
  background-color: rgba(154,195,231, 0.1); //skyblue
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.white-box label {
  margin-bottom: auto;
  margin-top: auto;
  text-align: right;
  font-weight: 500;
  color: #8798ab;
  padding-right: 1rem !important;
  min-width: 10rem;
}

.white-box input.form-control {
   border: none !important;
}

.card-body .heading {
  font-weight: 600;
  //text-transform: uppercase;
  color: #8798ab;
  //margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.02em;
}

::placeholder {
  font-weight: 400 !important;
  color: #aab7c5 !important;
  //font-family: Arial !important;
}

.width-fit-content {
  max-width: fit-content !important,
}

input[type=date]::-webkit-inner-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.button-style {
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  border-color: rgb(60,66,87) !important;
}

.button-style:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.075);
}

.hover-selected:hover, .selected-button {
    color: white !important;
    background-color: black !important;
}
