// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// to enable full white background for the purchase thank you page

body {
  height: -webkit-fill-available;//auto;
  display: flex;
  flex-direction: column;
}
// adjust calender height and width in the admin dashboard
.admin-panel .datepicker,.admin-panel .table-condensed {
  width: 100%;
  height: 13rem;
}

.admin-panel.bg-silver {
  background-color: #3b6186;
  height: -webkit-fill-available;
  max-width: 16rem;
}

.admin-panel .datepicker th.datepicker-switch {
  font-size: 1.25rem;
  color: white;
}

.admin-panel .datepicker th {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  color: white;
}

.admin-panel .datepicker td {
  color: white;
  padding: 0.2rem;
  margin: 0;
}

.admin-panel .datepicker table tr td.day.focused, .admin-panel .datepicker table tr td.day:hover {
  background-color: black !important;
}

.admin-panel .datepicker table tr td.active {
  background-image: none !important;
}

.admin-panel .datepicker table tr td.active.active {
  background-color: black !important;
}
